<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pflegegradrechner{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/opb-logo-neu.webp') }}" alt="PGRechner Logo" style="height: 40px; margin-right: 10px;">
        </a>
        {% if current_user.is_authenticated %}
            | <a href="{{ url_for('dashboard') }}">Dashboard</a>
            {% if current_user.role == 'admin' %}
                | <a href="{{ url_for('admin_dashboard') }}">Admin</a>
            {% endif %}
            | <a href="{{ url_for('logout') }}">Logout ({{ current_user.username }})</a>
        {% else %}
            | <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>